<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.nypr.cordova.vlcplugin"
    version="0.1.0">
    <name>AudioPlayer</name>
    <description>VLC Plugin</description>
    <keywords>audio,stream,radio</keywords>
    <repo>https://github.com/wnyc/cordova-plugin-vlc.git</repo>

    <js-module src="www/audioplayer.js" name="AudioPlayer">
        <clobbers target="audioplayer"/>
    </js-module>

    <dependency id="org.apache.cordova.device" />
    <dependency id="org.apache.cordova.media" />
    <dependency id="org.apache.cordova.network-information" />

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AudioPlayerPlugin">
                <param name="ios-package" value="VLCPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <dependency id="org.nypr.cordova.nslogger-cocoalumberjack-connector-plugin" url="https://github.com/wnyc/cordova-plugin-nslogger-cocoalumberjack-connector.git"  />

        <hook type="after_plugin_install" src="scripts/afterIOSInstall.js" />

        <header-file src="src/ios/VLCPlugin.h" />
        <source-file src="src/ios/VLCPlugin.m" />
        <header-file src="src/ios/MainViewController+RemoteControl.h" />
        <source-file src="src/ios/MainViewController+RemoteControl.m" />

        <framework src="MediaPlayer.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreText.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="Security.framework" />
        <framework src="libstdc++.6.0.9.dylib" />
        <framework src="libbz2.dylib" />
        <framework src="libiconv.dylib" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AudioPlayerPlugin" >
                <param name="android-package" 
                    value="org.nypr.cordova.vlcplugin.VLCPlugin"/>
                </feature>
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/*">
              <uses-permission android:name="android.permission.INTERNET" />
              <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
              <uses-permission android:name="android.permission.WAKE_LOCK" />
              <uses-permission android:name="android.permission.READ_PHONE_STATE" />
              <uses-permission android:name="android.permission.BROADCAST_STICKY" />

          </config-file>

          <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <service android:name="org.nypr.cordova.vlcplugin.VLCPlayerService" android:exported="false" />
          <receiver android:name="org.nypr.cordova.vlcplugin.NotificationReceiver" />

      </config-file>

      <source-file src="res/android/layout-v11/nypr_ph_hc_notification.xml" target-dir="res/layout-v11" />
      <source-file src="src/android/org/nypr/cordova/vlcplugin" target-dir="src/org/nypr/cordova" />
      <resource-file src="res/android/" target="res" />

      <source-file src="lib/aacdecoder-android-0.8.jar" target-dir="libs" />
      <source-file src="lib/vlc.jar" target-dir="libs" />
      <source-file src="lib/google-play-services.jar" target-dir="libs" />
      <source-file src="lib/mips" target-dir="libs" />
      <source-file src="lib/x86" target-dir="libs" />
      <source-file src="lib/armeabi" target-dir="libs" />
      <source-file src="lib/armeabi-v7a" target-dir="libs" />

  </platform>
</plugin>
